html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
* {
  box-sizing: border-box;
}
.bio {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding: 2% 20%;
}
nav a {
  font-size: 2rem;
  color: black;
  border-right: 2px solid grey;
  padding: 0 20px;
  text-decoration: none;
}
nav a:nth-child(3) {
  border-right: none;
}
.title-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/home.png');
  background-size: 100%;
  opacity: 0.5;
  background-repeat: no-repeat;
  padding: 10% 5%;
  margin: 2% 20%;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
.title-container .text .btn {
  background-color: white;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 40%;
  height: 35px;
  font-size: 1.2rem;
  border-radius: 5px;
  color: black;
}
.artists-container {
  border-top: 1px solid grey;
  padding: 1.5% 5%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  align-items: space-around;
  font-size: 1.6rem;
}
.artists-container .artist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4%;
  width: 100%;
}
.artists-container .artist img {
  width: 100%;
  border-radius: 1rem;
}
.artists-container .artist img:hover {
  opacity: 0.8;
}
.artists-container .artist a {
  font-size: larger;
  color: black;
  padding: 5%;
  text-decoration: none;
}
@media (max-width:800px) {
  .artists-container {
    flex-direction: column;
  }
}
